.trigger {
  font-size: 18px;
  padding: 0 10px;
  align-self: center;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding:10px 15px;
}
.breadcrumb {
  flex:1;
  padding: 20px 0;
}
.layout {
  min-height: 100vh;
}
.container-content {
  margin: 0 20px;
}
.content { 
  padding: 0 20px; 
  min-height: 80vh;
}
.wrapper {
  display: flex;
}